{% load static %}
<!DOCTYPE html>
<head>
    <title>Вход</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'main/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'main/css/registration.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body style="background-color: #91bfbc">
    {% if request.user.is_authenticated %}
    <meta http-equiv="REFRESH" content="0;url=/you/">
    {% else %}
        <a href="{% url 'home' %}"><i class='bx bx-arrow-back'></i></a>
        <div class="registration">
            <span class="header_span">Вход в аккаунт</span>
            <form method="post">
                {% csrf_token %}
                <div class="container_input_form field users-field">
                    <span class="container_input_form_text">Введите ваш никнейм</span>
                    <input type="text" class="input_regestration users" name="username">
                    <span class="error err3 email-error">
                        <i class="bx bx-error-circle error-icon"></i>
                        <p class="error-text">Заполните свой никнейм</p>
                    </span>
                </div>
                <div class="container_input_form field create-password">
                    <span class="container_input_form_text">Ваш пароль</span>
                    <i class='bx bx-hide show-hide'></i>
                    <input type="password" class="input_regestration password" maxlength="128" name="password">
                    <span class="error err3 password-error">
                        <i class="bx bx-error-circle error-icon"></i>
                        <p class="error-text">Обязательно заполните пароль!</p>
                    </span>
                </div>
                <div class="submit_input">
                    <button type="sumbit" class={% if form.non_field_errors %}"button_submit_input error_busy"{% else %}"button_submit_input"{% endif %} id="button_form">Войти</button>
                    <span class={% if form.non_field_errors %}"error_input error_input_active"{% else %}"error_input"{% endif %}>
                        <i class="bx bx-error-circle error-icon"></i>
                        <p class="error-text">Неверный пароль или логин</p>
                    </span>
                </div>
            </form>
            <span class="exit">Нет аккаунта? <a href="{% url 'signup' %}">Зарегестрироваться!</a></span>
        </div>
    {% endif %}
    <script src="{% static 'main/js/login.js' %}"></script>
</body>