{% extends 'main/base.html' %}
{% load mathfilters %}
{% load static %}
{% block title %}{{actual_task.title}}{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'main/css/competition_now.css' %}">
{% endblock %}
{% block body %}
    <div class="wrapper media">
        <div class="wrapper_content">
            <div class="text-header">
        <span>{{actual_task.title}}</span>
        <span style="font-size: 24px; margin-top: 15px; display: flex; align-items: center; justify-content: center;">Баллы за задачу по состояннию на <p style="margin-left: 5px;">{{ time }}</p> <p style="margin-left: 5px; margin-right: 5px;">-</p> <p style="color: #558987;">{{ actual_score }}</p></span>
        </div>
        <span class="span__block"><pre>{{actual_task.condition}}</pre></span>
        <span class="span__block cow-1-1">Входные данные</span>
        <span class="span__block cow-1-2">{{actual_task.required_input}}</span>
        <span class="span__block cow-1-1">Выходные данные</span>
        <span class="span__block cow-1-2">{{actual_task.required_output}}</span>
                    <div class="block_test">
                        <div class="block_test_1">
                            <span class="cow-1-1">Тесты</span>
                            <div class="block_data">
                                <span class="cow-2-2">входные данные</span>
                                <span class="cow-2-1"><pre id="consolas-font">{{actual_task.input_exmaple}}</pre></span>

                                <span class="cow-2-2">выходные данные</span>
                                <span class="cow-2-1"><pre id="consolas-font">{{actual_task.output_exmaple}}</pre></span>
                            </div>
                        </div>
                        {% if actual_task.extra_text %}
                        <div class="block_test_2">
                            <span class="cow-1-1 margin-1">Примечания к задаче</span>
                            <span class="span__block" style="margin: 0px;"><pre>{{actual_task.extra_text}}</pre></span>
                        </div>
                        {% endif %}
                    </div>
                    {% if time_shower and actual %}
                    <div class="uploud_fail">
                        <span class="font-header">Отправка решения</span>
                        <div style="display: flex;">
                            <div class="select-btn2">
                                <ul>
                                    <!-- <li class="tab tab1 tab--inactive">Ввести код</li>
                                    <p style="margin:0 15px 0 15px">|</p> -->
                                    <li class="tab tab2 tab--active">Отправка файла</li>
                                </ul>
                            </div>
                            <div class="select-menu">
                                <div class="select-btn">
                                    <div><span span style="color: #706F6F; font-weight: 700;">Компилятор:</span>
                                        <span class="sBtn-text blocked_text" style="font-weight: 700;">Список</span></div>
                                    <i class="bx bx-chevron-down" style="font-weight: 700;"></i>
                                </div>
                        
                                <ul class="options">
                                    <li class="option">
                                        <span class="option-text" data-type=".py">Python</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-type=".cpp">C++</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-type=".pas">Pascal</span>
                                    </li>
                                    <li class="option"> 
                                        <span class="option-text" data-type=".c">C</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-type=".js">JavaScript</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-type=".cs">C#</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-type=".kt">Kotlin</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-type=".rs">Rust</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-type=".php">PHP</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-type=".rb">Ruby</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-type=".go">Go</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="container_content">
                            <form class="content content-1" method="post" enctype="multipart/form-data" id="textarea_form">
                                {% csrf_token %}
                                <div>
                                    <textarea id="textarea" class="textarea_upload upload_input_container_setting"></textarea>
                                </div>
                                <button type="submit" class="button-task1 button-task">Отправить решение</button>
                            </form>
                            <form class="content content-2 content--active" method="post" enctype="multipart/form-data" id="file_form">
                                {% csrf_token %}
                                <div>
                                    <div class="textarea_upload upload_input_container_setting">
                                        <div class="upload_input_container">
                                            <i class='bx bxl-dropbox' ></i>
                                            <span class="upload_text_">Загрузите файл</span> 
                                            <input accept=".py, .cpp, .pas, .c, .cs, .kt, .rs, .php, .rb, .go, .js" title="" class="upload_text" type="file" id="upload" name="file" onChange='getoutput()'>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="button-task2 button-task">Отправить решение</button>
                            </form>
                        </div>
                        
                    </div>
                    {% else %}
                    {% endif %}
        </div>
        <div class="wrapper_content_block_2">
            <div class="wrapper_content_2">
                <span class="competition_text">Соревнование</span>
                <span class="time_text">Оставшееся время:</span>
                {% if time_shower %}
                    <span class="time_settings"><span class="hours"><span class="number">{{ timeleftH }}</span></span>:<span class="minutes"><span class="number">{{ timeleftM }}</span></span>:<span class="seconds"><span class="number">{{ timeleftS }}</span></span></span> 
                {% else %}
                    <span class="time_settings">--:--:--</span>
                {% endif %}
                 <div>
                    <span class="task_list">Задачи</span>
                    {% for i in task.all %}
                    <a href='/competition/{{comp.id}}/{{ forloop.counter|add:"-1"}}/'><div class="task">{{i}}</div></a>
                    {% endfor %}
                 </div>
                <!-- <div class="cow-d-1">
                    <span style="font-weight: 600;margin-top: 30px;">Положение</span>
                    <span style="font-weight: 300;margin-bottom: 10px;">Положение на момент {{ time }}</span>
                    <div class="block_leaders_board">
                        <span>4. vadim344</span>
                        <span>5. melterex</span>
                        <span>6. perchik</span>
                    </div>
                </div> -->
            </div>
            {% if attempt %}
            <div class="wrapper_content_2_1">
                <span>Последние решения</span>
                {% for i in attempt %}
                <div class="content-block">
                    <span><p class="time">{{ i.time|time:"H:i:s" }}</p><p class="tasktime">{{ i.link_task.title }}</p>-<p class="test">{{ i.error }}</p></span>
                </div>
                {% endfor %}
            </div>
            {% else %} 
            {% endif %}
{% endblock %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'main/js/competition_now.js' %}"></script>
<script>
    // $(document).ready(function() {
    // $('#textarea_form').submit(function(e) {
    //     e.preventDefault(); // prevent default form submission behavior

    //     const textarea = document.getElementById("textarea");
    //     const blob = new Blob([textarea.value], {type: selectedOptionAttribyte});
    //     // create FormData object
    //     const formData = new FormData();
    //     // append file to form data object
    //     formData.append('file', blob);

    //     // create AJAX request
    //     $.ajax({
    //     type: 'POST',
    //     url: '',
    //     headers: {
    //         'X-CSRFToken': "{{ csrf_token }}"
    //     },
    //     data: blob,
    //     dataType: 'json',
    //     contentType: false,
    //     processData: false,
    //     success: function(response) {
    //         console.log(response.attempt); // do something with response data
    //     },
    //     error: function(response) {
    //         console.log('Error:', response);
    //     }
    //     });
    // });
    // });

    // add event listener for form submit
    $('#file_form').submit(function(e) {
        e.preventDefault(); // prevent default form submission behavior

        // get file input element
        const fileInput = $('#upload')[0];

        // create FormData object
        const formData = new FormData();

        // append file to form data object
        formData.append('file', fileInput.files[0]);

        // create AJAX request
        $.ajax({
        type: 'POST',
        url: '',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        },
        data: formData,
        dataType: 'json',
        contentType: false,
        processData: false,
        success: function(response) {
            console.log(response.attempt); // do something with response data
        },
        error: function(response) {
            console.log('Error:', response);
        }
    });

    // $('#textarea_form').submit(function(e) {
    //     e.preventDefault(); // prevent default form submission behavior

    //     // get file input element
    //     const fileInput = $('#upload')[0];

    //     // create FormData object
    //     const formData = new FormData();

    //     // append file to form data object
    //     formData.append('file', fileInput.files[0]);

    //     // create AJAX request
    //     $.ajax({
    //     type: 'POST',
    //     url: '',
    //     headers: {
    //         'X-CSRFToken': '{{ csrf_token }}'
    //     },
    //     data: formData,
    //     dataType: 'json',
    //     contentType: false,
    //     processData: false,
    //     success: function(response) {
    //         console.log(response.attempt); // do something with response data
    //     },
    //     error: function(response) {
    //         console.log('Error:', response);
    //     }
    //     });
    // });
    });
</script>
{% endblock %}