{% extends 'main/base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block style %}
<style>.wrapper_content_home
    {
        background: url("{% static 'main/svg/Backround.svg' %}");
    }
    .wrapper_content_home_faq
    {
        background: url("{% static 'main/svg/fd.svg' %}");
    }</style>
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
{% endblock %}
{% block body %}
<div class="wrapper">
    <div class="wrapper_content_homee">
        <div class="wrapper_content_home">
            <span>Всем привет!</span>
            <p>Мы рады сообщить, что наш сайт Onupra проводит соревнования по спортивному программированию для всех желающих. Если вы хотите проверить свои силы в решении задач на знание языков программирования, алгоритмов и структур данных, то присоединяйтесь к нам и примите участие в соревнованиях.
                В рамках соревнований вы сможете соперничать с другими участниками и повысить свой уровень в программировании. Это отличная возможность попрактиковаться и узнать о новых технологиях.
                Соревнования будут проходить на нашем сайте регулярно, поэтому вы сможете принимать участие в них несколько раз в месяц. Мы уверены, что опыт, который вы получите, будет для вас не менее ценным, чем любые призы.
                Не теряйте время и присоединяйтесь к нашим соревнованиям уже сегодня. Ждем вас на страницах Onupra!</p>
        </div>
        <div class="wrapper_content_home_faq">
            <span class="FAQ">FAQ</span>
            <div class="block">
                <header>
                    <span class="text">Q: Как попасть на соревнование?
                    </span>
                    <i class='bx bx-chevron-left bx-rotate-270' ></i>
                </header>
    
                <p class="text-1">
                    A: Сверху справа есть плашка с ближайшим соревнованием. Если оно началось, то нажав по кнопке вы перейдёте на страницу с этим соревнованием. Также вы можете попасть на соревнование по прямой ссылке, если вам её кто-то отправит, и слева на панели есть кнопка "Соревнования", перейдя по которой, вы сможете посмотреть все соревнования на сайте
                </p>
            </div>
            <div class="block">
                <header>
                    <span class="text">Q: На каких языках можно программировать? 
                    </span>
                    <i class='bx bx-chevron-left bx-rotate-270' ></i>
                </header>
    
                <p class="text-1">
                    A: На сайте доступны Python 3, C++, Pascal, C, C#, JavaScript, Go, Kotlin, PHP, Ruby, Rust. Если у вас возникла ошибка с каким-либо компилятором, сообщите в телеграм @melterex 
                </p>
            </div>
            <div class="block">
                <header>
                    <span class="text">Q: Что делать если моя программа работает, но возникает та или иная ошибка?
                    </span>
                    <i class='bx bx-chevron-left bx-rotate-270' ></i>
                </header>
    
                <p class="text-1">
                    A: Если у вас возникает ошибка на каком-то тесте, вероятно, ваш алгоритм не предусматривает некоторые случаи задачи. Если возникает ошибка с принятием входных данных, проверьте ваш код в соответствии с тестом. Если и так не работает, пишите в телеграм @melterex. Если возникает ошибка компиляции тоже пишите в телеграм
                </p>
            </div>
            <div class="block">
                <header>
                    <span class="text">Q: Что делать если условие задачи непонятно?
                    </span>
                    <i class='bx bx-chevron-left bx-rotate-270' ></i>
                </header>
    
                <p class="text-1">
                    A: Пишите в телеграм @melterex
                </p>
            </div>
            <div class="block">
                <header>
                    <span class="text">Q: Как часто проводятся соревнования?
                    </span>
                    <i class='bx bx-chevron-left bx-rotate-270' ></i>
                </header>
    
                <p class="text-1">
                    A: Не реже чем раз в месяц
                </p>
            </div>
            <div class="block">
                <header>
                    <span class="text">Q: Как узнать о предстоящем соревновании? 
                    </span>
                    <i class='bx bx-chevron-left bx-rotate-270' ></i>
                </header>
    
                <p class="text-1">
                    A: Спросите @melterex в телеграм
                </p>
            </div>
            <div class="block">
                <header>
                    <span class="text">Q: Могу ли я получить какую-либо грамоту за участие или победу?
                    </span>
                    <i class='bx bx-chevron-left bx-rotate-270' ></i>
                </header>
    
                <p class="text-1">
                    A: Пока что нет, но мы попробуем договориться об этом в скором времени
                </p>
            </div>
            <div class="block">
                <header>
                    <span class="text">Q: Как долго разрабатывается проект?
                    </span>
                    <i class='bx bx-chevron-left bx-rotate-270' ></i>
                </header>
    
                <p class="text-1">
                    A: Мы делаем проект с августа 2022 в свободное время. Мы будем обновлять сайт по возможности и скоро добавим способ самостоятельно создавать соревнования
                </p>
            </div>
            <div class="block">
                <header>
                    <span class="text">Q: Я хочу создать своё соревнование. Как мне это сделать?
                    </span>
                    <i class='bx bx-chevron-left bx-rotate-270' ></i>
                </header>
    
                <p class="text-1">
                    A: Если у вас есть задачи, то вы можете написать @melterex и мы договоримся о проведении соревнования 
                </p>
            </div>
        </div>
        <div class="wrapper_content_social">
            <div class="flex">
                <span class="social">Обратная связь:</span>
                <a href="mailto:vlad@htmlbook.ru" style="color: rgb(134, 134, 134); font-style: none;">cd@gmail.com</a>
            </div>
            <div>
                <ul class="social_spisok">
                    <li><i class='bx bxl-youtube'></i></li>
                    <li><i class='bx bxl-vk'></i></li>
                    <li><i class='bx bxl-telegram'></i></li>
                </ul>
            </div>
        </div>
    </div>
        <div class="wrapper_content_info">
            <div class="wrapper_content_info_competition">
                {% if comp %}
                <a href="{% url 'сompetition' comp.id %}">
                    <div class="competition_block">
                        <div class="competition_block_info">
                            <div class="competition-text" style="width: 100%;">
                                <div class="block-icon">
                                <i class='bx bx-code-alt' ></i>
                                </div>
                                <div class="text-info" style="width: 100%;">
                                    <span class="name">«{{ comp.title }}»</span>
                                    <!-- <span class="info">9 классы</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="competition_block_info_ code">
                            <span>Автор: ONUPRA</span>
                            <span>{{ date }} в {{ comp.start_time|time:"H:i" }}</span>
                        </div>
                    </div>
                </a>
                {% else %}
                {% endif %}
                <div class="competition_block">
                    <div class="competition_block_info_ code code_info">
                        <span style="font-size: 23px;">beta v2.7</span>
                    </div>
                    <div class="competition_block_info">
                        <span class="Now_ihfo">Что нового?</span>
                        <ul>
                            <li>Обновление рейтинга</li>
                            <li>новый функционал</li>
                            <li>переработка регистрации</li>
                            <li>переделка дизайна профиля</li>
                            <li>и другое</li>
                        </ul>
                        <!-- <div class="more">
                            <span>Подробнее >>>></span> 
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}
{% block js %}<script src="{% static 'main/js/home.js' %}"></script>{% endblock %}