*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'FuturaMediumC', sans-serif;
    
}
a 
{
    text-decoration: none;
    color: #333;
}
#consolas-font
{
    font-family: 'Consolas', sans-serif;
}
pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
.select-btn2 ul
{
    list-style: none;
    display: flex;
}
:root{
    /* ===== Colors ===== */
    --body-color: #91BFBC;
    --sidebar-color: #FFF;
    --primary-color: #e21b1b;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}
html{
    min-height: 100vh;
}
body{
    min-height: 100vh;
    max-width: 100vw;
    background-color: var(--body-color);
    transition: var(--tran-05);
    overflow-x: hidden;
}

::selection{
    background: #91BFBC;
    color: #fff;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 20px 20px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}
.sidebar .text{
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
    margin: 0 7px;
}
.text_logout{
    font-size: 20px;
    font-weight: 500;
    color: #333;
}
.sidebar.close .text{
    opacity: 0;
}

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top:0;
    font-size: 22px;
    font-weight: 500;
}

header .image-text .profession{
    font-size: 18px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 50px;
    border-radius: 6px;
}
.sidebar .menu{
    margin-top: 20px;
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background: #91BFBC;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 7px;
 }
::-webkit-scrollbar-thumb {
     border-radius: 3px;
     height: 100px;
     background-color: #ffffffa6;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background: #91BFBC;
    position: relative;
    transition: var(--tran-05);
}
/* .mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
} */
.wrapper
{
    margin-left: 250px;
    padding: 8px;
    transition: all 0.3s;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-height: 100vh;
    font-weight: 400;
    color: #3a3b3c;
}
.image-input
{
    width: 100%;
}
.nav-link-profile
{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.nav-link-profile a
{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    background: #91BFBC;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}
.nav-link-profile a:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    background: #9cc6c3;
}
.bx-user
{
    color: #fff;
}
.text-prof
{
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
    margin: 0 7px;
}
.text-prof2
{
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}
.icon-prof
{
    min-width: 60px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-left: 15px;
}
.blocked
{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    background: #d7d8d8;
    color: #fff;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    transition: 0.3s;
}
.cursor-p
{
    cursor: pointer;
}



.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0; 
    pointer-events: none; 
    transition: 0.5s all;
    z-index: 22220;
}
.base-popup{
    display: flex;
    flex-direction: column;
}
.confirmation_logout
{
    width: 100%;
    color: #FFF;
    padding: 15px;
    margin-top: 15px;
    font-size: 15px;
    background-color: #91BFBC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.base-popup span{
    font-size: 20px;
    color: #333;
}
.popup__bg.active { 
    opacity: 1; 
    pointer-events: all; 
    transition: 0.5s all;
}
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    background: rgba(223, 223, 223, 0.961);
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    transition: 0.5s all;
}
.popup.active { 
    transform: translate(-50%, -50%) scale(1); 
    transition: 0.4s all;
}
/* Конец важной части */
/* Далее код для стилизации формы */
.close-popup {
    position: absolute;
    top: 13px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}
.header_burger-btn{
    position: relative;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15%;
    right: 20px;
    border-radius: 6px;
}
.header_burger-btn:hover{
    background-color: rgb(247, 242, 242);
}
.header_burger-btn span{
    position: absolute;
    width: 33px;
    height: 3px;
    background-color: rgb(124, 120, 120);
    border-radius: 6px;
    transition: 0.15s;
}
.header_burger-btn span:nth-child(1){
    transform: translateY(-10px);
}
.header_burger-btn span:nth-child(3){
    transform: translateY(10px);
}
.sidebar.open .header_burger-btn span:nth-child(2){
    opacity: 0;
}
.sidebar.open .header_burger-btn span:nth-child(1){
    transform: translateY(0);
    transform: rotateZ(45deg);
}
.sidebar.open .header_burger-btn span:nth-child(3){
    transform: translateY(0);
    transform: rotateZ(-45deg);
}
@media screen and (max-width: 800px) {
    
    ::-webkit-scrollbar-thumb {
        display: none;
    }
   ::-webkit-scrollbar {
    display: none;
    }

    .sidebar{
        display: flex;
        height: 90px;
        width: 100%;
        padding: 10px;
        top: 0;
        justify-content: space-between;
    }
    .sidebar header{
        position: relative;
    }
    
    /* .sidebar header .image{
        display: flex;
        align-items: center;
        justify-content: center;
    } */
    
    .menu-links{
        display: flex;
        flex-direction: column;
    }
    .sidebar .menu{
        margin-top: 0px;
        z-index: 200;
        
    }
    .sidebar .menu-bar{
        height: calc(100vh - 90px);
        display: flex;
        width: 270px;
        position: absolute;
        background-color: rgb(255, 255, 255);
        right: -270px;
        top: 90px;
        padding: 0px 20px 10px 20px;
        opacity: 0;
        visibility: hidden;
        transition: 0.2s;
    }
    .sidebar .menu-bar.open{
        opacity: 1;
        visibility: visible;
        right: 0px;
    }
    .sidebar li a .icon{
        height: auto;
        width: auto;
    }
    .sidebar li a{
        width: 110%;
    }
    .wrapper{
        margin: 90px 0 0 0;
    }
    .wrapper.media{
        display: block;
    }
    .wrapper_{
        margin: 90px 0 0 0;
    }
    .wrapper_content_2{
        width: 100%;
    }
    .wrapper_content_block_2{
        margin: 15px 0 0 0;
        width: 100%;
    }
    .image-input
    {
        width: 180px;
    }
    .image-text{
        margin-top: 10px;
    }
    .nav-link-profile
    {
        height: 50px;
        list-style: none;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    .wrapper_home
    {
        flex-direction: column-reverse;
    }
    .wrapper_content_info {
        margin-bottom: 0px;
    }
    .Now_ihfo_div
    {
        width: 100%;
        margin-left: 30%;
        display: flex;
        align-items: center;
    }
    .competition_block_info ul
    {
        margin-left: 50px;
    }
    .competition_block_info
    {
        display: flex;
        align-items:start;
    }
    .wrapper_content_homee
    {
        width: 100%;
    }
    .wrapper_content_home
    {
        margin-right:0;
    }
    .block_test
    {
    display: flex;
    flex-direction: column;
    }
    .block_test_2
    {
        margin: 20px 0 0 0;

    }
    .nav-link-profile a
    {
        width: 250px;
    }
    .nav-link-profile a:hover{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        background: #9cc6c3;
    }
    .bx-user
    {
        color: rgba(255, 255, 255, 0);
    }
    .blackout
    {
        position: fixed;
        transition: 0.3s;
    }
    .blackout.open
    {
        min-height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.261);
    }
    .text-prof
    {
        margin: 0;
    }
    .bottom-content
    {
        margin-bottom: 15px;
    }
    .icon-prof
    {
        min-width: 50px;
    }
    .header_burger-btn{
        display: flex;
    }
  }